[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "epiworldRcalibrate"]
	path = epiworldRcalibrate
	url = https://github.com/sima-njf/epiworldrcalibrate
